@import '~@expandorg/uikit/font'
@import '~@expandorg/uikit/colors'

.block
  margin-bottom: 20px

.from
  font(small-text)
  color: color-text-grey

.comment
  box-sizing: border-box;
  padding: 15px 17px
  margin-top: 3px

  border-radius: 5px;
  font(h4-bold)
  color: color-text-yellow-2
  background-color: color-yellow-light-bg
  border 1px solid color-yellow


.disput
  display block
  width 100%

  background-color: #FBBC05
  color: color-text-yellow-2
  border-radius: 5px;
  border: 0

  font(subtitle, 800, false, 40px)
  height: 40px

  text-transform: uppercase
  outline: 0
  cursor pointer

  &:hover
    background-color: lighten(#FBBC05, 10%)

  &[disabled]
    background-color: color-grey-background
    color: color-text-grey

    &:hover
      background-color: color-grey-background
