@import '~@expandorg/uikit/size'

.container
  box-sizing: border-box
  padding: 30px

  @media(max-width: breakpoint-mobile-sm)
    padding: 0

.panel
  padding-top: 15px
  max-width 1100px
  margin: 0 auto
  border: 0
  box-shadow: none
