@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/font'

.container
  margin-right: 37px

.btn
  position: relative
  background-color: transparent
  padding: 0
  border: 0
  outline: 0
  cursor pointer

.counter
  position: absolute
  right: -9px
  top: 0

  width: 20px
  height: 20px

  font(small-text-bold, 900, 12px, 20px)
  text-align: center

  border-radius: 50%
  background: color-pink
  color: color-white


