@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/font'

.container
  box-sizing: border-box
  padding: 30px 30px 30px 81px
  position relative

  width: 320px;
  min-height: 130px

  background: color-white
  cursor pointer
  outline: 0
  text-align: left

  &:hover
    background-color: color-teel-light

.icon
  box-sizing: border-box

  position absolute
  left: 30px
  top: calc(50% - 15px)

  height 30px
  width 30px

  border-radius: 5px
  border: 1px solid color-teel-dark

.text
  font(body)
  color: color-black

.date
  margin-top: 10px;
  font(small-text)
  color: color-text-grey

