@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

.page
  background-color: color-white;

.container
  box-sizing: border-box
  max-width 970px
  margin: 0 auto
  padding: 0 10px 40px


.header
  box-sizing: border-box

  display: flex
  justify-content: space-between
  align-items: center

  margin-top: 100px
  padding-bottom: 30px

  border-bottom: 1px solid color-medium-blue

.title
  font(body, 900, 36px, 50px)
  color: color-text-dark

.verifier
  box-sizing: border-box;
  display inline-block
  height 32px

  font(caption, 900, 12px, 32px)
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-decoration: none
  white-space nowrap

  padding: 0 20px

  border-radius: 5px;
  background-color: color-white;
  color: color-text-blue;
  border: 1px solid color-heavy-blue;

  outline: 0
  cursor pointer

