@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

.list
  margin-top: 24px

.tag
  box-sizing: border-box;

  display: inline-block;

  height 50px
  font(body, 800, false, 50px)

  padding: 0 15px;
  margin-right: 15px;
  margin-bottom: 12px;

  border-radius: 2px;

  background-color: color-primary-blue
  color: color-white

.delete
  box-sizing: border-box;
  padding: 0
  margin-left: 15px;
  font-weight: 800

  color: color-white
  background-color: transparent;

  cursor: pointer;
  outline: none;
