@import '~@expandorg/uikit/font'
@import '~@expandorg/uikit/colors'

.container
  margin-top: 100px

.title
  font(h2-bold, 900)
  color: color-text-dark

.content
  margin-top: 30px
  display: flex
  flex-wrap: wrap
  align-content: stretch;

