@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

.container
  display flex
  align-items: center
  justify-content: center
  height 110px

.button
  box-sizing: border-box
  background-color: transparent
  border: 0
  margin: 0
  padding: 0
  outline: 0
  cursor pointer

.svg
  position relative
  transform-origin: center
  transform: rotate(-90deg)

  outline: none
  cursor pointer

.empty
.bar
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
  stroke-width: 30px;

.empty
  stroke: #FF2D84;

.bar
  stroke: #1471EB;

