@import '~@expandorg/uikit/colors'

.container
  display flex

.star
  margin-right: 8px

  &:last-child
    margin-right: 0

  path
    fill: color-medium-blue

  &.fill
    path
      fill: color-pink
