@import '~@expandorg/uikit/font'
@import '~@expandorg/uikit/colors'

.container
  margin-top: 100px

.title
  font(h2-bold, 900, false, 33px)
  color: color-text-dark
  margin-bottom 32px

.content
  margin-top: 32px

.list
  margin-top: 24px

.next
  width: 100%
