@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/font';

.hdr
  text-align: center
  width 240px
  max-width 240px
  height 50px

.amt
  width 100px

.type
  width 200px

.actions
  margin-top: 20px

.empty
  color: color-text-grey

