@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/font';

.amt
  width 100px
  text-align: center
  padding: 0 0

.eth
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap

.link
  color: color-text-blue

.type
  width 200px
