@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

:global(.gem-metamask-button)
  display: flex
  align-items: center

  width: 100%
  height: 56px
  line-height: 56px

  font(h3-title)
  color: color-text-dark
  background-color: color-white;
  border-radius: 5px

  cursor: pointer
  outline: 0;

.fox
  width: 35px
  height: 35px
  margin-right: 18px
  margin-left: 24px

  background-position:center
  background-size: contain
  background-repeat: no-repeat
  background-origin: border-box
  background-image: url("~@expandorg/uikit/assets/fox.svg")

.error
  padding: 10px 15px
