.actions
  box-sizing: border-box

  display: flex
  align-items: center
  justify-content: flex-end

  > *
    min-width auto

.cancel
  line-height: 38px
  height 40px
  width: auto
  padding: 0 10px
  margin-left: 10px

