@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

:global(.gem-email-container)
  padding: 18px 24px 20px
  box-sizing: border-box

  margin-top: 10px

  border-radius: 5px
  background-color: color-white

.header
  display: flex
  align-items: center
  height: 40px

.logo
  margin-right: 15px

.title
  font(h3-title)
  color: color-text-dark

.form
  box-sizing: border-box
  padding: 10px 5px 0

.error
  margin-top: 10px

.input
  margin-top: 20px

  font-size: 18px
  border-radius: 4px

.submit
  display: block
  width: 100%

  margin-top: 33px

  line-height: 38px
  height 40px
  width: 100%

.submit
.toggle
  height: 40px

  font(body-bold, false, 15px, false)
  letter-spacing: 0.15em;

.forgotContainer
  display: flex
  justify-content: flex-end

.forgot
  margin-top: 5px

  font(body)
  color: color-text-blue
  background-color: transparent
  text-decoration: none

  outline: none
  cursor: pointer

.signUpSubmit
  margin-top: 58px
