@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/font';

.container
  box-sizing: border-box
  display flex
  justify-content: space-between
  align-items: center

  min-height: 125px
  padding: 20px 40px

  background-color: color-light-blue
  border-bottom: 1px solid color-heavy-blue

.left
  display flex
  justify-content: space-between

.heading
  margin-left: 24px

.name
  font(h2-title)
  color: color-text-dark

.description
  margin-top: 5px
  font(body)
  color: color-text-grey
