@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

.container
  box-sizing: border-box
  padding: 60px 50px 40px

  :global(.gem-auth)
    &-toggle
      margin-top: 10px
      color: color-text-dark

    &-link
      color: color-text-dark

.form
  box-sizing: border-box
  max-width: 350px
  :global(.gem-metamask-button)
    border: 1px solid color-heavy-blue

  :global(.gem-email-container)
    border: 1px solid color-heavy-blue
