@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'
@import '~@expandorg/uikit/size'

.gem-auth
  &-container
    box-sizing: border-box

    width: 323px
    margin: 0 auto
    padding: 40px 0 10px 0;

    color: color-white

    @media(max-width: breakpoint-mobile-sm)
      width: calc(100% - 40px)
      margin: 0 20px

  &-header
    display: flex
    flex-direction: column
    align-items: center

  &-title
    font(h1)
    margin-top: 20px

  &-form
    margin-top: 50px

  &-toggle
    color: color-white
    font(body)

    margin-top: 20px
    text-align: center

  &-link
    color: color-white
    text-decoration: underline
    font(body-bold)

    margin-left: 5px
