@import '~@expandorg/uikit/colors'

.container
  position: relative;
  box-sizing: border-box
  padding: 30px;

.actions
  display: flex;
  align-items: center;
  justify-content: flex-end;

  > *
    min-width auto

.panel
  padding-top: 15px
  max-width 1100px
  margin: 0 auto
  border: 0
  box-shadow: none

.form
  box-sizing: border-box
  padding-top: 20px

.cancel
  margin-left: 10px
  padding: 0 5px
  border: 0
